/dts-v1/;

#include <dt-bindings/input/input.h>
#include "tegra124-meerkat.dtsi"

/ {
	model = "Avionic Design Kuchenblech";
	compatible = "ad,kuchenblech", "ad,meerkat", "nvidia,tegra124";

	chosen {
		stdout-path = "/serial@0,70006300";
	};

	pcie-controller@0,01003000 {
		status = "okay";

		pci@1,0 {
			status = "okay";
		};

		pci@2,0 {
			status = "okay";
		};
	};

	/* HDMI */
	host1x@0,50000000 {
		hdmi@0,54280000 {
			status = "okay";
			hdmi-supply = <&vdd_5v0_hdmi>;
		};
	};

	pinmux@0,70000868 {
		/* UART2 CTS is used as GPO */
		uart2_cts_n_pj5 {
			nvidia,pull = <TEGRA_PIN_PULL_NONE>;
			nvidia,enable-input = <TEGRA_PIN_DISABLE>;
		};
	};

	/* Serial ports */
	serial@0,70006000 {
		status = "okay";
	};

	serial@0,70006040 {
		status = "okay";
	};

	serial@0,70006200 {
		status = "okay";
		has-hw-flow-control;
	};

	serial@0,70006300 {
		status = "okay";
		has-hw-flow-control;
	};

	/* USB-MINI */
	usb@0,7d000000 {
		status = "okay";
	};

	usb-phy@0,7d000000 {
		status = "okay";
		dr_mode = "otg";
		vbus-supply = <&vdd_usb0_vbus>;
	};

	/* USB 2.0 */
	usb@0,7d004000 {
		status = "okay";
	};

	usb-phy@0,7d004000 {
		status = "okay";
		vbus-supply = <&vdd_usb1_vbus>;
	};

	/* USB 3.0 */
	usb@0,7d008000 {
		status = "okay";
	};

	usb-phy@0,7d008000 {
		status = "okay";
		vbus-supply = <&vdd_usb2_vbus>;
	};

	/* GEN1 I2c */
	i2c@0,7000c000 {
		status = "okay";

		rt5639: audio-codec@1c {
			compatible = "realtek,rt5639";
			reg = <0x1c>;
			interrupt-parent = <&gpio>;
			interrupts = <TEGRA_GPIO(U, 5) GPIO_ACTIVE_HIGH>;
			realtek,ldo1-en-gpios =
				<&gpio TEGRA_GPIO(R, 2) GPIO_ACTIVE_HIGH>;
		};
	};

	/* Expansion GEN2_I2C_* */
	i2c@0,7000c400 {
		status = "okay";
	};

	/* Expansion CAM_I2C_* */
	i2c@0,7000c500 {
		status = "okay";
	};

	/* HDMI DDC */
	i2c@0,7000c700 {
		status = "okay";
	};

	/* SD card */
	sdhci@0,700b0400 {
		status = "okay";
	};

	/* I2S */
	ahub@0,70300000 {
		i2s@0,70301100 {
			status = "okay";
		};
	};

	gpio-keys {
		compatible = "gpio-keys";

		reset {
			label = "Reset";
			gpios = <&gpio TEGRA_GPIO(O, 4) GPIO_ACTIVE_LOW>;
			linux,code = <KEY_POWER>;
			debounce-interval = <10>;
		};

		next {
			label = "Next";
			gpios = <&gpio TEGRA_GPIO(O, 3) GPIO_ACTIVE_LOW>;
			linux,code = <KEY_FORWARD>;
			debounce-interval = <10>;
		};

		back {
			label = "Back";
			gpios = <&gpio TEGRA_GPIO(O, 2) GPIO_ACTIVE_LOW>;
			linux,code = <KEY_BACK>;
			debounce-interval = <10>;
		};

		scroll {
			label = "Scroll";
			gpios = <&gpio TEGRA_GPIO(O, 1) GPIO_ACTIVE_LOW>;
			linux,code = <KEY_SCROLLLOCK>;
			debounce-interval = <10>;
		};
	};

	gpio-leds {
		compatible = "gpio-leds";

		aging {
			label = "Aging";
			gpios = <&gpio TEGRA_GPIO(I, 3) GPIO_ACTIVE_LOW>;
		};

		soc_alive {
			label = "Alive";
			gpios = <&gpio TEGRA_GPIO(H, 0) GPIO_ACTIVE_LOW>;
			linux,default-trigger = "heartbeat";
		};
	};

	sound {
		compatible = "ad,tegra-audio-rt5640-kbl",
			     "nvidia,tegra-audio-rt5640-jetson-tk1",
			     "nvidia,tegra-audio-rt5640";
		nvidia,model = "Avionic Design Kuchenblech";

		nvidia,audio-routing =
			"Headphones", "HPOR",
			"Headphones", "HPOL",
			"Mic Jack", "MICBIAS1",
			"IN2P", "Mic Jack";

		nvidia,i2s-controller = <&tegra_i2s1>;
		nvidia,audio-codec = <&rt5639>;

		nvidia,hp-det-gpios = <&gpio TEGRA_GPIO(R, 7) GPIO_ACTIVE_HIGH>;

		clocks = <&tegra_car TEGRA124_CLK_PLL_A>,
			 <&tegra_car TEGRA124_CLK_PLL_A_OUT0>,
			 <&tegra_car TEGRA124_CLK_EXTERN1>;
		clock-names = "pll_a", "pll_a_out0", "mclk";
	};

	regulators {
		vdd_dc_in: regulator@99 {
			compatible = "regulator-fixed";
			reg = <99>;
			regulator-name = "+VDD_DC_IN";
			regulator-min-microvolt = <12000000>;
			regulator-max-microvolt = <12000000>;
			regulator-always-on;
			regulator-boot-on;
		};

		vdd_5v0: regulator@100 {
			compatible = "regulator-fixed";
			reg = <100>;
			regulator-name = "+VDD_5V";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			regulator-always-on;
			regulator-boot-on;
			vin-supply = <&vdd_dc_in>;
		};

		vdd_3v3: regulator@101 {
			compatible = "regulator-fixed";
			reg = <101>;
			regulator-name = "+VDD_3V3";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
			regulator-boot-on;
			vin-supply = <&vdd_dc_in>;
		};

		vdd_5v0_hdmi: regulator@102 {
			compatible = "regulator-fixed";
			reg = <102>;
			regulator-name = "+VDD_5V_HDMI_CON";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio TEGRA_GPIO(H, 1) GPIO_ACTIVE_HIGH>;
			enable-active-high;
			vin-supply = <&vdd_5v0>; // TODO: Check with HW
		};

		vdd_usb0_vbus: regulator@103 {
			compatible = "regulator-fixed";
			reg = <103>;
			regulator-name = "+USB0_VBUS";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio TEGRA_GPIO(N, 4) GPIO_ACTIVE_HIGH>;
			enable-active-high;
			gpio-open-drain;
			vin-supply = <&vdd_5v0>;
		};

		vdd_usb1_vbus: regulator@104 {
			compatible = "regulator-fixed";
			reg = <104>;
			regulator-name = "+USB1_VBUS";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio TEGRA_GPIO(N, 5) GPIO_ACTIVE_HIGH>;
			enable-active-high;
			gpio-open-drain;
			vin-supply = <&vdd_5v0>;
		};

		vdd_usb2_vbus: regulator@105 {
			compatible = "regulator-fixed";
			reg = <105>;
			regulator-name = "+USB2_VBUS";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio TEGRA_GPIO(FF, 1) GPIO_ACTIVE_HIGH>;
			enable-active-high;
			gpio-open-drain;
			vin-supply = <&vdd_5v0>;
		};
	};
};
